<h2>Adapter</h2>
<p>
	In this example the Products table is combined with the Color table to produce an object Fruit. The Product table contains the reference to a color in the color table. However in the Fruit class it is changed to the name of the color. Also the Product.title is changed to Fruit.name. <br />
	<ul>
		<li>Product: id (integer), title (string), description (string), color (integer/ref)</li>
		<li>Color: id (integer), name (string)</li>
		<li>Fruit: name (Product.title), description (Product.description), color (Color.name)</li>
	</ul>
</p>

Generated fruit list:<br />
<ul>
	<%@fruitList.each do |fruit|%>
	<li><%= fruit.name%> - <%= fruit.description%> - <%= fruit.color%></li>
	<%end%>
</ul>

