<h2>(Abstract) Factory</h2>
<p>
	In this example the user selects a payment type and depending on the user choice the Abstract Factory will decide how to construct the Payment object.
	The Payment object receives a Factory class which decides what payment and authorization module is needed:
	<ol>
		<li>User selects payment type.</li>
		<li>PaymentFactory creates the Payment object by deciding which Factory is needed: MasterCard, VISA or MobilePayment</li>
		<li>The Factory class decides what payment module is needed in the Payment object: MasterCard, VISA or SMS</li>
		<li>The Factory class decides what authorization module is needed in the Payment object: CreditCard or None(for mobile providers)</li>
	</ol>
</p>
  <p>
	Choose your payment type:<br />
	<%= form_tag do %>
		<%= radio_button_tag(:payment, "mastercard") %>
		<%= label_tag(:payment_mastercard, "MasterCard") %><br />
		<%= radio_button_tag(:payment, "visa") %>
		<%= label_tag(:payment_visa, "VISA") %><br />
		<%= radio_button_tag(:payment, "airtelmoney") %>
		<%= label_tag(:payment_airtelmoney, "airtel Money") %><br />
		<%= radio_button_tag(:payment, "mpesa") %>
		<%= label_tag(:payment_mpesa, "M-Pesa") %><br />
		<%= radio_button_tag(:payment, "paypal") %>
		<%= label_tag(:payment_mpesa, "PayPal") %><br />
		<%= submit_tag("Pay!") %>
	<% end %>
</p>
<p><b><%=@outcome%></b></p>