<h1>Software patterns</h1>
<p>
	The following patterns are the most often used and will help code to be more easily maintainable. Often in some way these patterns are already used without explicitly knowing the pattern behind it.
</p>
<h2>Singleton</h2>
<p>
	The singleton pattern is a pattern which ensures there is only one instance of a certain class available. Examples of cases where such a class would be needed are database connection pools and other scarce resource mediators who need to keep track of how much is in use, queue new requests and make sure old resources are cleaned up.
</p>
<h2>Factory</h2>
<p>
	The factory pattern is a pattern to create instances of objects instead of instantiating then with the 'new' keyword. There are two reasons why this is a good pattern as opposed to direct instantiation.
	<ol>
		<li>You can control how an object is created and if certain conditions are met</li>
		<li>During creation the exact type can be decided (Interface based)</li>
		<li>Easier to extend the concrete available types of an interface</li>
	</ol>
</p>
<h2>Abstract Factory</h2>
<p>
	While the Factory pattern creates a concrete object of an interface and the class is decided at run-time. The Abstract Factory pattern takes this a step further whereby even the Factory class is decided at runtime. This could be needed when for different platforms classes need to be instantiated differently.
</p>
<h2>Facade</h2>
<p>
	A facade is a class or interface which offers complex functionality on the background in a simple format. A good example of a facade is a web-service. The web-service is often clear and easy to use/interpret, however on the background a lot could be happening to give you what you want. The same should be done with internal developed modules.
</p>
<h2>Observer</h2>
<p>
	This pattern is used when an object holds a reference to other objects and notifies those other objects when something happens. Important examples are listeners attached to buttons or other interface elements.
</p>
<h2>Adapter</h2>
<p>
	This pattern is used when you want to convert on class or interface into another when they are not compatible or even when you convert JSON/XML to an object with properties. Examples for usage are database classes towards models used in the interface. Or combining multiple classes towards one class in case of the facade.
</p>
<h2>Loose-coupling</h2>
<p>
	Not a pattern but a principle. The idea is to make sure your code/modules are loosely coupled by having the different elements have little or no knowledge of each other. Many of the patterns described above help create this. 
	Using interfaces means that the exact implementation of a class does not need to be known. Using JSON as a transport between systems means the two systems only need to know about the format of messaging, but can for the rest operate independently. Using Factory classes means you can easily replace components whereby the underlying implemented classes are changes if needed and point to different modules. An Adapter could convert to a different module when an old muddle is replaced and thereby the receiving module does not notice the replacement.
</p>
<h2>MVC</h2>
<p>
	An architectural pattern which ensures that interfaces, data and business logic are loosely-coupled. The pattern states that the model contains all data, business rules and logic. The view is an interface using the module to expose this to clients. Views be interfaces for humans but could easily refer to a web-service as well. The controller is the component tying everything together. It ensures the right model is served to the view, handles responses to te view to the model.
</p>
<h2>Dependency Injection - Inversion of Control</h2>
<p>
	Dependency injection is a patterns very closely tied to Loosely-coupled systems. It means that object or modules do not hardcode their dependency on each other. There are several ways to achieve this. The simplest (manual) way is a setter method to inject the dependency into the class when the class is created. The next step could be the Factory pattern to inject a dependency into a class on creating. The Factory pattern is a step up to make sure code is maintainable by centralizing the point where the object is created and the dependencies decided.
</p>