<h1>Singleton example</h1>
<p>
	This singleton patterns makes sure there is only one version of a certain class. The Messenger class has a variable which keeps track how many messages are send.
	It increments when a message is send.<br />
	The first example uses the Singleton module provided by Ruby. It allows for an easy to implement lazy Singleton instance which allows for Thread-safe instance creation.
</p>
<%
	@firstMessenger = Messenger.instance # Ruby provided Singleton instance
    @secondMessenger = Messenger.instance # Ruby provided Singleton instance
%>
<p>
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>

<p>
	First instance will send a message: <%=@firstMessenger.send("Message 1")%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>

<p>
	Second instance will send a message: <%=@secondMessenger.send("Message 2")%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>
<p>
	Resetting the Singleton:<%=@firstMessenger.cleanup%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>
<p>
	The second Singleton example is a manually written Singleton. The Singleton hides the new function and prevents creating direct instances outside its own class.
	The 'instance' method is then used to retrieve an instance of the class.
</p>
<%
	@firstMessenger = Messenger2.instance # Manual written Singleton instance
    @secondMessenger = Messenger2.instance # Manual written Singleton instance
%>
<%=@firstMessenger%>
<%=@secondMessenger%>
<p>
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>

<p>
	First variable will send a message: <%=@firstMessenger.send("Message 1")%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>

<p>
	Second instance will send a message: <%=@secondMessenger.send("Message 2")%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>
<p>
	Resetting the Singleton:<%=@firstMessenger.cleanup%><br />
	First instance, messages sent: <%=@firstMessenger.messages_sent%><br />
	Second instance, messages sent: <%=@secondMessenger.messages_sent%>
</p>
<hr />
<!-- 
<p>
	Sending from global defined constant:<%=MessengerConstant.send("Send message from constant")%><br />
	Sending from global defined variable: <%=$messengerGlobal.send("Send message from global")%><br />
</p>
-->
	
    
