Get all gigs:<br/>
<%= link_to "Show all", :controller =>"gigs", :action => "index"%> <br />
Get one gig:<br/>
<%= link_to "Show ID 1", :controller =>"gigs", :action => "show", :id => "1"%> <br />
Get all by type:<br/>
<%= link_to "Show type=rock", :controller =>"gigs", :action => "type", :type => "rock"%> <br />
Get all gigs:<br/>
<%= link_to "Show venue=paradiso", :controller =>"gigs", :action => "venue", :venue => "paradiso"%> <br />
