<p>Same data, different view</p>
<ul class="menu">
	<li><%= link_to "Table View", :controller =>"mvc", :action => "index", :view => "table"%></li>
	<li><%= link_to "List View", :controller =>"mvc", :action => "index", :view => "list"%></li>
</ul>
<table border="1">
	<%@data.each { |dataItem|%>
	<tr>
		<td>Name: </td>
		<td><%=dataItem.name%></td>
		<td>Description: </td>
		<td><%=dataItem.description%></td>
	</tr>
	<%}%>
</table>
