<p>Same data, different view</p>
<ul class="menu">
	<li><%= link_to "Table View", :controller =>"mvc", :action => "index", :view => "table"%></li>
	<li><%= link_to "List View", :controller =>"mvc", :action => "index", :view => "list"%></li>
</ul>
<ol>
	<%@data.each { |dataItem|%>
	<li>
		Name: <%=dataItem.name%> - Description:  <%=dataItem.description%>
	</li>
	<%}%>
</ol>
