<!DOCTYPE html>
<html>
<head>
  <title>we are asalia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul class="menu">
		<li><%= link_to "Overview", :controller =>"pattern", :action => "index"%></li>
		<li><%= link_to "Singleton", :controller =>"pattern", :action => "singleton"%></li>
		<li><%= link_to "Factory", :controller =>"pattern", :action => "factory"%></li>
		<li><%= link_to "Facade", :controller =>"gigs", :action => "index"%></li>
		<li><%= link_to "Observer", :controller =>"pattern", :action => "observer"%></li>
		<li><%= link_to "Adapter", :controller =>"pattern", :action => "adapter"%></li>
		<li><%= link_to "MVC", :controller =>"mvc", :action => "index"%></li>
	</ul>
	

<%= yield %>

</body>
</html>
