<h3>
	Brian Factory
</h3>
<p>
	 Login as:<br />
	<%= form_tag do %>
		<%= radio_button_tag(:usertype, "admin") %>
		<%= label_tag(:admin_login, "Admin") %><br />
		<%= radio_button_tag(:usertype, "user") %>
		<%= label_tag(:user_login, "User") %><br />
		<%= submit_tag("Login!") %>
	<% end %>
	<% puts(@outcome) %>
</p>

