Users:<br/>
<%= link_to "Show all", :controller =>"members", :action => "index"%> <br />
Get one user:<br/>
<%= link_to "Show ID 1", :controller =>"members", :action => "show", :id => "1"%> <br />
View by roles:<br/>
<%= link_to "Show type=administrator", :controller =>"members", :action => "role", :type => "administrator"%> <br />
<!-- Get all gigs:<br/>
<%= link_to "Show venue=paradiso", :controller =>"members", :action => "venue", :venue => "paradiso"%> <br /> -->