<h1>Cliff Users</h1>
<%= form_tag do%>
  <%= label_tag :Username %>:
  <%= text_field_tag :username %><br />
<br/>
  <%= label_tag :password %>:
  <%= password_field_tag :password %><br />

  <%= submit_tag("Enter") %><br/>
<% end %>

<p><b><%= @outcome %></b></p>
