// Place all the styles related to the evans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.evans-work{background-color:#000;border-top:1px solid;color:#eee;margin-top:20px;padding:0 20px 20px 20px}
.evans-work a{color:#ff8800; text-decoration:none}
.evans-work a:hover{color:#ffbb33}
.evans-work h1{color:#fff}
.input-text{
  width:250px; border-radius:5px; padding:10px; margin-bottom:5px; font-size:1em
}
.input-submit{width: 100px;height: 30px;background-color: #fff;border: none;border-radius: 5px;margin-top: 10px;}
.form{background-color:#333; padding:20px}
