<div class="evans-work">
<h1>Evans @weareasilia</h1>
<p>Demonstrating use of the below patterns in simple user authentication program. Click each link to navigate to demo.</p>
<ul class="menu">
	<li><%= link_to "Home", :controller =>"evans", :action => "index"%></li>
	<li><%= link_to "| Singleton", :controller =>"evans", :action => "singleton"%></li>
	<li><%= link_to "| Factory", :controller =>"evans", :action => "factory"%></li>
	<li><%= link_to "| Facade", :controller =>"evans", :action => "facade"%></li>
	<li><%= link_to "| Observer", :controller =>"evans", :action => "observer"%></li>
</ul>
<% if(!defined?(@outcome.welcome_message).nil?) %>
<p><%= @outcome %><br />
	<%= @outcome.welcome_message %><br />
	<%= @outcome.welcome_message.welcome %><br />
</p>
<% end %>
</div>