<div class="evans-work">
<h1>Singleton (Evans@weareasilia)</h1>
<p>Use of a singleton class to authenticate user.</p>

<ul class="menu">
	<li><%= link_to "Home", :controller =>"evans", :action => "index"%></li>
	<li><%= link_to "| Singleton", :controller =>"evans", :action => "singleton"%></li>
	<li><%= link_to "| Factory", :controller =>"evans", :action => "factory"%></li>
	<li><%= link_to "| Facade", :controller =>"evans", :action => "facade"%></li>
	<li><%= link_to "| Observer", :controller =>"evans", :action => "observer"%></li>
</ul>
<p>
	Enter your credentials below:<br />
	<div class="form">
	<%= form_tag do %>
		<%= label_tag(:username, "Username") %><br />
		<%= text_field_tag 'username', nil, :placeholder => 'user@domain.com', :class => 'input-text' %><br />
		<%= label_tag(:pass, "Password") %><br />
		<%= password_field_tag 'pass', nil, :placeholder => '******', :class => 'input-text' %><br />
		<%= submit_tag "Login", :class => 'input-submit' %>
	<% end %>
	</div>
</p>
<% if(!@user.nil? && !@pass.nil?) %>
<p>
	Evansauth instance, authenticated users: <%=@single.authd_users%><br />
	<%=@single%><br /><br />
	Evansauth commencing authentication... <% @user %><br /><br />
	Verdict:  <%=@outcome%>
	<%= link_to "Next", :controller =>"evans", :action => "factory", :next => @outcome%>
</p>
<% end %>
</div>